@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

html, body {
    scroll-behavior: smooth!important;
}

*{
    font-family: "Play", sans-serif;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-track{
    background-color: #ecf0f1;
}
body::-webkit-scrollbar-thumb{
    background-color: #e67e22;
    border-radius: 10px;
}
/* header area */
.header-outer{
    position: sticky;
    top: 0;
}

.navbar-brand img{
    height: 50px;
}
/* header area */

.back-to-top-outer{
    width: 50px;
    height: 50px;
    background-color: #e67e22;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 3px;
    box-shadow: 4px 2px 4px #7f8c8d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-to-top-outer a{
    width: 50px;
    height: 50px;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    text-decoration: none;
}
.fa-solid{
    font-size: 18px;
    color: white;
}
.outer{
    width: 100%;
    height: 400px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Home area  */

.home-outer{
    width: 100%;
    height: 80vh;
    border: 1px solid green;
    background-image: url("https://img.freepik.com/free-photo/top-view-various-business-elements_23-2147986577.jpg?t=st=1711975038~exp=1711978638~hmac=474750d3a2e7951f5efb597a35da9e3f7e55a0aec675a66a548bdd5db5bccb88&w=1060");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  

}
.home-container{

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-text{
    color: white;
}
.header-text{
    font-weight: 500;
    font-size: 50px;
    color: white;
    line-height: 45px;
}

.home-widgets-outer{
    margin-top: -120px;
   
}
.widget-outer{
    height: 300px;
    margin-bottom: 20px;
    
}
.widget-inner{
    width: 90%;
    height: 100%;
    background-color: white;
    border: 1px solid #bdc3c7;
    display: flex;
    flex-direction: column;


}
.widget-inner-top{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.widget-inner-bottom{
    flex: 1;
    padding: 10px;
}
.widget-icon{
    width: 80px;
    height: 70%;
    border-radius: 100%;
    background-color: rgba(231, 121, 32, 0.995);
    display: flex;
    justify-content: center;
    align-items: center;
}
.widget-icon svg{
    width: 80%;
    height: 80%;
}
.widget-header{
    text-align: center;
}
.widget-desc{
    text-align: center;
    color: #95a5a6;
}
/* Home area  */

/* Services area */

.Services-outer{
    min-height: 750px;
    width: 100%;
    margin-top: 200px;
    background-image: url("https://images02.nicepage.com/c461c07a441a5d220e8feb1a/24af2a14af16514caf47360a/33581d05cec4a3308cd79979a51eed9d.jpeg");
    background-position: left;
    background-size: cover;
}
.Service-container{
    min-height: 750px;
    
}
.row{
    height: 100%;
}
.Service-container-inner{
    height: 100%;
}
.Service-right-side{
    min-height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-side-top{
    height: 350px;
    background-color: white;
    margin-bottom: 20px;
}
.right-side-bottom{
    height: 350px;
    background-color: white;
    margin-top: 10px;
}

/* Services area */