@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

html, body {
    scroll-behavior: smooth!important;
}

*{
    font-family: "Play", sans-serif;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-track{
    background-color: #ecf0f1;
}
body::-webkit-scrollbar-thumb{
    background-color: #e67e22;
    border-radius: 10px;
}
/* header area */
.header-outer{
    position: sticky;
    top: 0;
}

.navbar-brand img{
    height: 50px;
}
/* header area */

.back-to-top-outer{
    width: 50px;
    height: 50px;
    background-color: #e67e22;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 3px;
    box-shadow: 4px 4px 4px #7f8c8d;
}
.outer{
    width: 100%;
    height: 400px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Home area  */

.home-outer{
    width: 100%;
    height: 90vh;
    background-image: url("https://img.freepik.com/free-photo/top-view-various-business-elements_23-2147986577.jpg?t=st=1711975038~exp=1711978638~hmac=474750d3a2e7951f5efb597a35da9e3f7e55a0aec675a66a548bdd5db5bccb88&w=1060");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}